body {     
  margin: 0;
  padding-top: 0px;
  background-color: #EEEEEE;  
  font-family: 'Montserrat', sans-serif;
}


/* Navigation CSS */

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
  overflow: hidden;
  background-color: #EEEEEE;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25); /* drop shadow */
}

li {
  float: right;
}

li a {
  display: inline-block;
  color: #222222;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 0px;
  padding-right: 40px;
  font-size: 20pt;
  text-decoration: none;  
  font-family: 'Poiret One', cursive;
}

li a:hover {
    color: #905421;
    font-weight: bold;
  }



/* Above Fold CSS */

.heroGrid {
  margin: 0px;
  padding-top: 50px;
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: 
  "left logo right"
  "left logo right"
  "left logo right";
}

#leftGraphic {
  grid-area: left;
  display: flex;
  margin-top: 0px;
}

#rightGraphic {       
  grid-area: right;
  display: flex;
  align-content: right;
  margin-left: 10px;
  margin-top: 15px;
  float: right
}

.heroGridArea {
  margin: 0px;
  cursor: pointer;
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
  "left logo right"
  "left logo right"
  "left logo right";
}

.heroLogo {        
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 175px;
  align-items: center;
  max-width: 700px;
  height: auto;
}

.heroLogo img {   /* WHY IN FRONT OF HEADER ON SCROLL? */
    animation: grow-and-shrink 2000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;    
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}


/* About CSS */

#aboutGrid {
  margin: 0px;
  display: grid;
  justify-content: space-between;  
  grid-template-rows: 200px 200px 300px;
  grid-template-columns: 2fr 3.5fr 1.5fr;
  grid-template-areas: "hello text null"
                       "hello text null"
                       "resume resume null";  
}



.helloContainer img {
  grid-area: hello;
  display: inline;
  height: auto;
  float:left !important;
  width: 100%;
  position: relative;
  margin-left: -10% !important;
  margin-top: -10% !important;
  overflow: hidden;
}


.resume-container {   /* IS THERE A BETTER WAY TO ALIGN THIS TO THE RIGHT SIDE OF GRID AREA? */
  grid-area: resume;
  display: inline-flex;
  justify-content: flex-end;
  margin-right: 10px;    
}

.aboutGridArea {
  margin: 5px;
  cursor: pointer;  
}


/* Work CSS */

.workGrid {     /* CHANGE TO FLEXBOX? */
  margin: 0px;
  margin-top: 10px;
  display: grid;
  justify-content: center;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25); /* drop shadow */
  grid-template-rows: 150px 400px 100px;
  grid-template-areas: 
  "heading"
  "slides"
  "slides";  
}


.slideshowContainer {
  padding:0.01em 20px;
  margin:0 -16px;
  grid-area: slides;
}

.slideCard {
  border: none;
  padding: 0 8px;
  float: left;
  width:33%;
  grid-area: slides;  
}

.hover-opacity:hover{
  opacity:0.65
}
.hover-opacity-off:hover{
  opacity:1
}

.slideOverlay {
  padding: 0px;
  margin: 0px;
  opacity:0.55;
  color:#EEEEEE !important;
  background-color:#222222 !important;
  justify-content: flex-end;  
}

.slideOverlay:after,.slideOverlay:before {   /* UNSURE WHAT THIS DOES */
  content: "";
  display: table;
}

#caseStudyTitle {
  color:#EEEEEE !important;
  padding-left: 20px;  
  font-size: 32pt;
  text-decoration: none;  
  font-family: 'Poiret One', cursive;
} 

#slideCaption {
  color:#EEEEEE !important;
  padding-left: 20px;  
  font-size: 14pt;
  text-decoration: none;  
  font-family: 'Montserrat', sans-serif;
} 

.button{
  border:none;
  display:inline-block;
  padding:8px 16px;  
  margin-left: 16px;
  margin-right: auto;
  margin-bottom:16px!important;  
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  color: #222222!important;
  background-color:#EEEEEE !important;
  font-family: 'Montserrat', sans-serif;  
}



/* Contact CSS */

.contactGrid {
  margin: 0px;
  margin-top: 10px;
  display: grid;
  justify-content: center;
  grid-template-rows: 150px 200px 200px;
  grid-template-areas: 
  "contact-heading"
  "text"
  "icons";
}


.contactIcons img {
margin: 30px;
grid-area: icons;
margin-bottom: 10px;
}


/* Typography CSS */


.heading #about {
  color: #905421;
  font-size: 55px;
  text-align: center;
  vertical-align: top;  
  margin-bottom: 10px;
  font-family: 'Poiret One', cursive;
  font-weight: bold; /* KEEP BOLD OR REGULAR WEIGHT? */
} 

.heading #work {
  grid-area: heading;
  color: #222222;
  font-size: 55px;
  text-align: center;
  vertical-align: top;  
  margin-bottom: 10px;
  font-family: 'Poiret One', cursive;
  font-weight: bold; /* KEEP BOLD OR REGULAR WEIGHT? */
} 

.heading #contact {
  grid-area: contact-heading;
  color: #905421;
  font-size: 55px;
  text-align: center;
  vertical-align: top;  
  margin-bottom: 10px;
  font-family: 'Poiret One', cursive;
  font-weight: bold; /* KEEP BOLD OR REGULAR WEIGHT? */
} 


.heroGrid p1 {
  grid-area: logo;
  color: #222222;
  font-size: 55px;
  margin-top: 44px;
  text-align: center;
  vertical-align: top;  /* SHOULD BE ALIGNED TOP & HORIZONTALLY CENTERED */
  font-family: 'Poiret One', cursive;
} 

.heroGrid p2 {
  grid-area: logo;
  color: #905421;
  font-size: 45px;
  text-align: center;
  vertical-align: top;  /* SHOULD BE ALIGNED TOP & HORIZONTALLY CENTERED */
  font-family: 'Poiret One', cursive;
} 


#aboutText {    /* HOW TO MAKE TEXT FLOW AROUND THE IMAGES? */
  grid-area: text;
  display: inline;
  align-items: center;
  width: 90%;
  margin-left: 10px;
  margin-top: 10px;
  color: #222222;
  font-size: 20px;
  vertical-align: top; /* SHOULD BE ALIGNED TOP & HORIZONTALLY CENTERED */
}

.workGrid p {     
  color: #222222;
  font-size: 55px;
  vertical-align: top; /* SHOULD BE ALIGNED TOP & HORIZONTALLY CENTERED */
}

#contactText { 
  padding-bottom: 3%
}

#contactText p {    
  color: #222222;
  font-size: 20px;
  text-align: center;  
}


  
/* Media Query CSS */

@media (min-width:601px){
    .slideCard{
      width:33.33333%
  }
}