
/* Preloader CSS */

.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100000;
  background-color: white;
  top: 0;
  display: flex;
  align-items: center;
  }

  .preloader img {
    animation: spin 3s ease;
    transition: all;
    width: 150px;
    margin: 0 auto;    
  }
  
/* CSS Animations */
  
   @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%)
    }
  }


  /* logo spin */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.logoImage img {
  animation: spin 2s ease;
  transition: all;
  width: auto;
  margin: 0 auto;    
}


/* Slideshow elements */

  /* Caption text */
.text {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/5, 2/5 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
  